form input[type=radio] {
    display: none;
}

form input[type=radio]:checked + label {
  background-color: blue;
}

form label {
  display: block;
  padding: 4px 8px;
  border: 1px solid black;
  border-radius: 4px;
}
